.message {
    position: fixed;
    top: 15px;
    right: 5px;
    font-size: .65em;
    padding: 0.4rem 0.65rem;
    background-color: #d32f2fc4;
    color: #fff;
    border-radius: 5px;
    z-index: 99;
    display: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: .5s;
}